@{
    ViewData["Title"] = "About";
}
@model IndexViewModel

<div class="jumbotron">
    <h1>Thank You!</h1>
    <h2>Knockout selected values: "@Model.Region" and "@Model.Region2"</h2>
    <h2>ReactJS selected valueы: "@Model.RegionReact" and "@Model.RegionReact2"</h2>
</div>
